.DS_Store
.idea
*.log
tmp/

## do not, for now, include data
qlg/
data/
code/QLG
code/daily_progression_maps
code/gee
code/old
code/scratch.r
code/todo.org
code/variable_def.r
code/viirs_download_token.txt
plots/
manuscript/
