.DS_Store
.idea
*.log
tmp/
.RDataTmp
.Rhistory
qlg/

## data
data/
data_archive/
data_archive.zip

## unused code
code/QLG
code/gee
code/old
code/viirs_download_token.txt

## no manuscript files are necessary
manuscript/
