.DS_Store
.idea
*.log
tmp/
.RDataTmp
.Rhistory
qlg/

## data
data/
data_archive/
data_archive.zip
data_part_aa
data_part_ab
data_part_ac
data_part_ad

## unused code
code/QLG
code/gee
code/old
code/viirs_download_token.txt

## no manuscript files are necessary
manuscript/
